.DS_Store
credentials.py
venv
*.xls
*.pyc
*.pyo
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
sqlite
*.db
*.bak
/.vs
CoffeeDB.db
/static/images/
!/static/images/.gitkeep
/static/icons/
!/static/icons/.gitkeep
/data/CoffeeDB.db
docker-compose.override.yaml
.pylintrc
setup.cfg
qodana.yaml