.DS_Store
credentials.py
venv
*.xls
*.pyc
*.pyo
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
sqlite
*.db
*.bak
CoffeeDB.db
static/images/
/.vs
/static/icons/3256_1053.png
/static/icons/8000920461150_147555.png
/static/icons/Spaghetti-Becher.png
docker-compose.override.yaml