# Install all the requirements by calling: pip install --User -r requirements.txt
# Update them by calling: pip install --User --upgrade -r requirements.txt
#

psycopg2
flask
Flask-SQLAlchemy
Flask-Login
Flask-Admin
tablib
numpy
filedepot
schedule
requests
