{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<!--suppress ALL -->
<div class="row-fluid">

    <div class="ui container">
        {% if current_user.is_authenticated %}
        <p>
        <h4>Welcome to the admin page of the coffee list. Here you can mark a <a href={{url_for('bill.index')}}>bill</a>
            of a User as paid, add <a href={{url_for('user.index_view')}}>new users</a>
            as well as new <a href={{url_for('item.index_view')}}>items</a>.</h4>
        </p>
        {% else %}
        <form method="POST" action="">
            {{ form.hidden_tag() if form.hidden_tag }}
            {% for f in form if f.type != 'CSRFTokenField' %}
            <div>
                {{ f.label }}
                {{ f }}
                {% if f.errors %}
                <ul>
                    {% for e in f.errors %}
                    <li>{{ e }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% endfor %}
            <button class="btn" type="submit">Submit</button>
        </form>
        {% endif %}
    </div>

</div>
{% endblock body %}
