{% extends 'admin/master.html' %}
{% block body %}
<div style="text-align:right;margin-bottom:50px">
    <a href="{{ url_for('bill.export') }}" class="btn btn-primary">Export as csv!</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>name</th>
            <th>bill</th>
            <th>paid</th>
        </tr>
    </thead>
    <tbody>
      {% for user in users %}

        <tr>
            <td>
              {{ user.name }}
            </td>
            <td>
              {{ '%0.2f'|format(user.bill) }}
            </td>
            <td class="collapsing">
              <a href="{{ url_for('bill.paid', userid=user.userid) }}" class="btn btn-default">Paid!</a>
            </td>

        </tr>
        {% endfor %}

    </tbody>
</table>



{% endblock %}
