<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>SnackBar</title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent black">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
    <script src="{{url_for('static', filename='stay_standalone.js')}}" type="text/javascript"></script>
    <style>
        body {
            margin:20px;
            text-align:center !important;
        }
        .ui .message .main {
            margin-top: 30px;
            padding: 50px;
            text-align:center;
        }
        .image {
            text-align: center !important;
        }
    </style>
</head>
<body>
<div class = 'container'>
    <div class = 'ui message main'>
        <h1> You shall drink no coffe!</h1>
    </div>
    <img class="ui centered large image" alt = "You Shall not Pass!" src="{{url_for('static', filename='you_shall_not_pass1.jpg')}}"/>

</div>
</body>
</html>
