<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>CoffeeList</title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent black">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
    <style>
    p {
        display: table-cell;
        vertical-align: middle;
        padding: 5em
    }
    </style>

</head>

<body style="text-align:center">
    <p>
        <div class="ui text container">
            <h2 class="ui center aligned dividing header"> Hallo {{chosenuser}}!</h2>
        </div>
        <div class="ui center aligned container">
            <table class="ui center aligned celled table" style="width:800px;margin:50px auto">
                <tbody>
                    <tr>
                        <td>
                            Coffee
                        </td>
                        <td class="collapsing">
                            {{ '%d' % nCoffee}}
                        </td>
                        <td class="collapsing">
                            <a href="{{ url_for('change', userid=userid, act='add', item='coffee') }}" class="ui left attached button"><i class="arrow up icon"></i></a>
                            <a href="{{ url_for('change', userid=userid, act='del', item='coffee') }}" class="right attached ui button"><i class="arrow down icon"></i></a>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Water
                        </td>
                        <td class="collapsing">
                            {{ '%d' % nSnacks}}
                        </td>
                        <td class="collapsing">
                            <a href="{{ url_for('change', userid=userid, act='add', item='snacks') }}" class="ui left attached button"><i class="arrow up icon"></i></a>
                            <a href="{{ url_for('change', userid=userid, act='del',item='snacks' )}}" class="right attached ui button"><i class="arrow down icon"></i></a>
                        </td>
                    </tr>
                    <td>
                        Snacks
                    </td>
                    <td class="collapsing">
                        {{ '%d' % nWater}}
                    </td>
                    <td class="collapsing">
                        <a href="{{ url_for('change', userid=userid, act='add', item='water') }}" class="ui left attached button"><i class="arrow up icon"></i></a>
                        <a href="{{ url_for('change', userid=userid, act='del', item='water') }}" class="right attached ui button"><i class="arrow down icon"></i></a>

                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div class="ui container">
<div class="ui divider"></div>
<h2 class="ui center aligned header"> Your current bill is: {{ currbill|round(2,'floor') }}€.</h2>
<button class ="ui icon button"><a href="/"><i class="arrow left icon"> </i></a></button>
</div>
</p>


</body>

</html>
