<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>CoffeeList</title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent black">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
    <style>
        p {
            margin-top: 3em;
        }

        div {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <p>
      <div class="ui container">
        <div class="ui stackable four column grid">
            {% for user in users %}
            <div class="column">
                <a href="/login/{{user.id}}" class="huge ui button">
                {{ user.name }}
            </a>
          </div>
            {% endfor %}
        </div>
      </div>
    </p>
<a href="{{url_for('admin.index')}}">Go to the admin page!</a>
</body>

</html>
