<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>CoffeeList</title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent black">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
    <script src="/static/stay_standalone.js" type="text/javascript"></script>
    <style>
        body {
            margin:20px;
        }

        .buttons_container {
            text-align:center;
        }

        div.person_button {
            display:block;
            margin:5px;
            display:inline-block;
        }
    </style>
</head>

<body>

        <div>
            <div class="buttons_container">
                {% for user in users %}
                <div class="person_button">
                    <a href="/login/{{user.id}}" class="ui huge {{user.color}} button"
                     style="width:160px;
                            heigth:80px;
                            color:{{user.fontcolor}};
                            background-color:{{ user.bgcolor }}">
                     {{ user.firstName }}<br>{{ user.lastName }}
                    </a>

                </div>
                {% endfor %}
            </div>
            <div class="ui divider" style="clear:both">
              <p style="text-align:center;margin:50px auto">
                <a href="{{url_for('admin.index')}}"><i class="huge settings icon"></i></a>
              </p>
            </div>
        </div>

</body>

</html>
