{% extends 'admin/base.html' %}

{% block access_control %}
{% if current_user.is_authenticated %}
<div class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-user"></i> {{ current_user.login }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('admin.logout_view') }}">Log out</a></li>
    </ul>
</div>

{% else %}
<script type="text/javascript">
function idleOpenURL(timeout, url) {
    var t;

    window.onload = resetTimer;
    window.onmousemove = resetTimer;
    window.onmousedown = resetTimer; // catches touchscreen presses
    window.ontouchstart = resetTimer;
    window.onclick = resetTimer;     // catches touchpad clicks
    window.onscroll = resetTimer;    // catches scrolling with arrow keys
    window.onkeypress = resetTimer;

    function logout() {
        //alert("You are now logged out. " + url)
        //location.href = 'logout.php'
        window.location.href= url
    }

    function resetTimer() {
        clearTimeout(t);
        t = setTimeout(logout, timeout * 1000)
        // 1000 milisec = 1 sec
    }
};

idleOpenURL(30, '{{ url_for('initial') }}');
</script>

{% endif %}



{% endblock %}
