{% extends 'admin/base.html' %}

{% block access_control %}
{% if current_user.is_authenticated %}
<div class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-User"></i> {{ current_user.login }} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="{{ url_for('admin.logout_view') }}">Log out</a></li>
    </ul>
</div>

{% else %}
<script src="{{url_for('static', filename='idleTimer.js')}}"></script>
<script type="text/javascript">
var idleTimer = new IdleTimerOpenURL();
idleTimer.setupTimer(30, '{{ url_for('initial') }}');
</script>

{% endif %}



{% endblock %}
